@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
:root{
    --pink-700: #d9008e;
    --pink-600: #ed07a5;
    --pink-500: #ff2ecc;
    --pink-300: #ff5dde;
    --pink-300: #ff9bed;
    --pink-200: #ffc8f6;
}
.bg-pink-700{
    background-color: var(--pink-700) !important;
}
.bg-pink-600{
    background-color: var(--pink-600) !important;
}
.bg-pink-500{
    background-color: var(--pink-500) !important;
}
.bg-pink-400{
    background-color: var(--pink-400) !important;
}
.bg-pink-300{
    background-color: var(--pink-300) !important;
}.bg-pink-200{
    background-color: var(--pink-200) !important;
}
// font
.font-poppins{
    font-family: "Poppins", serif !important;
}

::-webkit-scrollbar{

    display: none;
}
